body {
  background-color: yellow;
}

.area {
  height: 608px;
  width: 608px;
  background-color: white;
  position: relative;
}

.box {
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: 165px;
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}
